/* mobile */
@media (max-width: 768px) {
    header {
        position: relative;
        margin-bottom: 50px;
    }
    
    html {
        font-size: 7px;
    }
    header .social li {
        padding: 0 5px;
    }
    section.home .logo {
        width: 120px;
    }
    section.home .logo img {
        max-width: 100%;
    }
    section.features {
        padding: 60px 0;
    }
    section.features .box {
        padding: 0;
        margin-bottom: 30px;
    }
    footer form.enter-email button {
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 100%;
    }
    footer form.enter-email input[type="email"] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: none;
    }
    footer form.enter-email {
        margin: 0 30px;
        margin-bottom: 50px;
    }
    footer {
        padding: 60px 0;
    }
}
/* tablet */
@media (max-width: 992px) {
    section.home {
        height: auto;
    }

    section.home .baner {
        position: static;
        display: block;
        padding: 50px 50px 100px;
    }

    section.home .baner-center {
        display: block;
        padding: 0;
    }
}
/* male ekrany */
@media (min-width: 992px) and (max-width: 1200px) {
    section.features .box {
        padding: 0 0 60px 0;
    }
}